body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 24px;
}




.w3-row-padding img {
    margin-bottom: 12px;
}

/* Set the width of the sidebar to 160px */
.w3-sidebar {
    width: 160px;
    background: rgb(150, 119, 119);
    text-transform: uppercase;
}

#topbar {
    background: rgb(150, 119, 119);
}

#topbar > a {
  width:25% !important;
}

#about > hr {
  width:200px; border: 1px solid grey;
}

/* Add a left margin that matches the width of the sidebar (160px) */
#main, #header, #footer {
    margin-left: 160px;
}

.buttonlinks {
    text-decoration: none;
}

.list-item {
    margin-bottom: 1.5em;
}

/* added space for anchor links */
footer > a {
    margin-right: 1em;
}

/* Remove margins from "page content" on small screens */
@media only screen and (max-width: 600px) {
    #main, #header {
        margin-left: 0;
        margin-top: 84px;
    }
}